.playlistTitleContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }
  
  .playlistTitleColumn {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #696969;
    text-transform: uppercase;
  }
  
  .column01 {
    width: 394px;
  }
  
  .column02 {
    width: 280px;
  }
  
  .column03 {
    width: 245px;
  }
  
  .column04 {
    width: 60px;
    text-align: end;
  }
  
  .playlistTitleSvg {
    width: 12px;
    height: 12px;
    fill: transparent;
    stroke: #696969;
  }